body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
  margin: 0;
}

.title {
  color: #2c3e50;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.input-container {
  max-width: 600px;
  margin: 0 auto 20px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-field {
  display: flex;
  flex-direction: column;
  flex-basis: 48%; /* Roughly half the container width, accounting for margin/padding */
}

.input-field label {
  margin-bottom: 5px;
}

.input-field input {
  padding: 6px 12px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}

.full-width {
  flex-basis: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 1px solid; */
  width: 500px;
  height: 50px;
  margin: 0 auto;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  width: 200px;
  margin: 20px auto;
}

button:hover {
  background-color: #2980b9;
}

.pool-info {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.window-count,
.window-list-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.window-list {
  padding-left: 20px;
}

.window-item {
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 4px;
}
