body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h1 {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px 0;
}

input,
textarea,
button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  width: 100%;
}

input {
  text-align: center;
}

#status {
  text-align: center;
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#my-peer-id {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 1.2em;
}

#received-messages {
  background-color: white;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  max-width: 60%;
}

.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.received {
  background-color: #ececec;
  align-self: flex-start;
}

.btn-enabled {
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

.btn-disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
