@font-face {
  font-family: 'iconfont'; /* Project id 4061856 */
  src: url('./iconfont.woff2?t=1683776646904') format('woff2'),
    url('./iconfont.woff?t=1683776646904') format('woff'),
    url('./iconfont.ttf?t=1683776646904') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: '\e788';
}

.icon-plus:before {
  content: '\e618';
}

.icon-message:before {
  content: '\e64b';
}
